.starwars-list {
        list-style: none;
        border: .2rem solid black;
        background-color: antiquewhite;
        width: 100%;
}

.star-container {
        width: 100%;
}

h1 {
        color: red;
        font-size: 4rem;
}

li {
        font-size: 2rem;
        font-weight: 600;
}
